<div id = "container">
	<h1>Ember#start</h1>
	<p>Find me in app/views/ember/start.html.erb</p>
	 <script type="text/x-handlebars" data-template-name="application">
	         {{view  ZenlabsBeta.ListExtensionsView }}

		<div class='container' id='main'>
		  <div class='content'>
		    <div class='row'>
		      <div class='span12'>
		        <div class='page-header'>HEY</div>
		        {{outlet}}
		      </div>
		    </div>
		  </div>
		</div>
	</script>




</div>