</div>
<div id="main" class="container">
  <div id="top-nav">
    <ul id="navbar">
      <li>
        {{#linkTo 'index'}}Labs Home{{/linkTo}}
      </li>
      <li>
        {{#linkTo 'getstarted'}}Getting Started{{/linkTo}}
        {{outlet startNav}}
      </li>
      <li>
        {{#linkTo 'extensions'}}Labs Directory{{/linkTo}}
        {{outlet sideFilter}}
      </li>

    </ul>
  </div>



  <div class="content">
    {{outlet}}
  </div>
  <a class="feedback" href="mailto:services@zendesk.com?subject=Zenlabs Feedback&body=#tags zenlabs %0D%0A Please write your feedback below this line: %0D%0A -----------------------------------">Feedback</a>
</div>

<footer>
</footer>
