</div>
<div id="main" class="container">
  <div id="top-nav">
    <ul id="navbar">
      <li>
        {{#linkTo 'index'}}Labs Home{{/linkTo}}
      </li>
      <li>
        {{#linkTo 'getstarted'}}Getting Started{{/linkTo}}
        {{outlet startNav}}
      </li>
      <li>
        {{#linkTo 'extensions'}}App Directory{{/linkTo}}
        {{outlet sideFilter}}
      </li>

    </ul>
  </div>

  <div class="content">
    {{outlet}}
  </div>
</div>
<footer>
</footer>
