<div class="modal">
	<div class="modal-header">
		<button {{ action "dismissModal" target="view"}} type="button" class="close">x</button>
		<h3>Download Zenlabs Extension</h3>
	</div>
	<div class="modal-body">
		<h3>SUPPLEMENTAL TERMS AND CONDITIONS</h3>
		<p>Capitalized terms used herein and not otherwise defined have the meaning set forth in the Zendesk Terms of Service (www.zendesk.com/company/terms) (the "Terms").</p>
		<p>
		In connection with Your subscription to the Service, Zendesk makes available to You certain test Software through its Zenlabs portal (all such Software available through such portal, "Zenlabs Software") which may enable You to modify the manner in which You configure the Service or enable customized features. By accessing, utilizing or enabling any Zenlabs Software, you are agreeing that the following terms and conditions ("Zenlabs Supplemental Terms") supplement your existing agreement with Zendesk with respect to your access to and use of the Service (your "Service Agreement") and are hereby made a part of the Service Agreement, as if all the provisions of these Zenlabs Supplemental Terms were repeated in the Service Agreement. Except where appropriate, the term Service and Software as used in the Terms shall include the Zenlabs Software.
		<p/>
		<p>
		1. General Conditions; Access to and Use of Zenlabs Software. During the Subscription Term, You are hereby granted right to use the Zenlabs Software in connection with Your Account (without any right to sublicense) for Your internal business purposes, subject to all terms and conditions set forth in the Service Agreement. Any continuation of the grant of the right to use any of the Zenlabs Software after the termination of these Zendesk Supplemental Terms and/or after Zendesk decides to release Zenlabs Software to its customers generally will be on terms and conditions determined by Zendesk.
		<p/>
		<p>
		2. Disclaimer of Warranties; No Support Obligation. Notwithstanding anything to the contrary set forth in Your Service Agreement, You agree that the Zenlabs Software is provided "AS IS" and on an "AS AVAILABLE" basis, and that Zendesk makes no warranty as to the Zenlabs Software. You further acknowledge and agree that: (i) the Zenlabs Software is not an component of the Service that has been designed for commercial released for by Zendesk; (ii) the Zenlabs Software may not be in final form and may contain errors, design flaws or other problems; (iii) the Zenlabs Software is not expected to function fully or adequately upon installation, and it is expected and anticipated that further testing, modification and development may be necessary to make the Zenlabs Software functional; (iv) it may not be possible to make the Zenlabs Software functional; (v) use of the Zenlabs Software may result in unexpected results, loss of data, project delays or other unpredictable damage or loss to You; and (vi) Zendesk is under no obligation to release and/or offer for sale commercial versions of the Zenlabs Software, and Zendesk has the right to unilaterally abandon development or availability of the Zenlabs Software at any time and without any obligation or liability to You. ZENDESK DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, IN RELATION TO THE ZENLABS SOFTWARE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR ANY OR A PARTICULAR PURPOSE, NONINFRINGEMENT, OR THOSE ARISING FROM A COURSE OF DEALING OR USAGE IN TRADE RELATED TO THE ZENLABS SOFTWARE, ITS USE OR ANY INABILITY TO USE IT OR THE RESULTS OF ITS USE. You further agree that Zendesk shall have no obligation to correct any bugs, defects or errors in the Zenlabs Software or otherwise to support or maintain the Zenlabs Software.
		<p/>
		<p>
		3. Termination or Suspension of Zenlabs Software. Zendesk reserves the right, in its sole discretion to terminate or suspend the availability of any and all Zenlabs Software.
		<p/>
		<p>
		4. Intellectual Property Rights. Except for the limited rights granted to You herein, Zendesk retains all right, title and interest to the Zenlabs Software, including all associated Intellectual Property Rights as set forth in Your Service Agreement.
		<p/>
		<p>
		5. Acknowledgement of Risk; Release. You acknowledge and agree that the Zenlabs Software represents test version of software that may contain bugs, defects and errors and that the Zendesk Software is not expected to function fully upon installation and/or integration, and You hereby agree, in addition to any obligations You may have in the Service Agreement, to release Zendesk from any claim with regard to the Zenlabs Software, its operation, availability or its failure to operate or be available. Without limiting the generality of the foregoing, You acknowledge and agree that neither the use, availability nor operation of any Zenlabs Software shall be subject to any service level commitment otherwise set forth in Your Service Agreement. This acknowledgement and release shall survive any termination of your Service Agreement.</p>
	</div>
	<div class="modal-footer">
		<button {{action "dismissModal" target="view"}} class="btn close">Cancel download</button>
		<a {{bindAttr href="zip_url"}} class="agree btn btn-inverse">Agree and download this app</a>
	</div>
</div>
