<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h2>Display Extensions</h2>
      <ul class="widgetlist">
        {{#each model}}
        <li>
          <span class="appname">{{#linkTo 'extension' this}}{{name}}{{/linkTo}}</span>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>  