{{view view.sidenavView}}
<div id="appscontainer" class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul id="widgetlist">
        {{#each model}}
        <li {{bindAttr class="category :item"}}>
          <span class="appname">{{#linkTo 'extension' this}}{{name}}{{/linkTo}}</span>
        </li>
        {{/each}}
      </div>
    </div>

  </div>
  <div id="singleapp">
    {{outlet}}
  </div>
</div>  