<section id="main_content" class="inner">
    <div id="appscontainer" class="explanation">
      <h1>All Apps + Extensions</h1>
      <div id="listarea">
        {{ outlet widgetindex }}

      </div>

    </div>  
    {{outlet}}
</section>