<section id="main_content" class="inner">
    <div id="appscontainer" class="explanation">
      <h1>All Apps + Extensions</h1>
      <div id="listarea">
        {{ outlet widgetindex }}
        <div class="controls">
          <a {{action showSlider}}><div class="lineview"></div></a>
          <a {{action showGrid}}><div class="gridview"></div></a>
        </div>

      </div>

    </div>  
    {{outlet}}
</section>