<div id="appscontainer" class="container-fluid">
  <div class="row-fluid">
    <div class="listspan">
      <ul id="widgetlist">
        {{#each model}}
        <li {{bindAttr class="category :item :whitebox :shadow"}}>
          <span class="appname">{{#linkTo 'extension' this}}{{name}}{{/linkTo}}</span>
        </li>
        {{/each}}
      </div>
    </div>

  </div>
  {{outlet}}
</div>  