<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
<!--         <h3 class="basics-intro">The how-to. All can be added in 3 or less steps</h3>
-->        <div id="basicsnav">
      <ul id="directionsType">
        <li id="clickprivate" class="shadow">New Zendesk Private</li>
        <li id="clickpublic" class="shadow">New Zendesk Public</li>
        <li id="clickclassic" class="shadow">Classic & Portal</li>
      </ul>
    </div>

  <!-- START PRIVATE LOTUS SECTION -->
    <div id="privates" class="whitebox shadow explanation">
      <h1>Private Apps for New Zendesk</h1>
      <span class="type">Overview</span><br/>
      <p>Private Apps for New Zendesk are apps that have been developed by our Client Services engineers, which have been tested and made available internally but have not gone through the app approval process that would put them into the Zendesk App Store. These are the "lab" offerings, unofficial and to be used at one's own risk.</p>
      <span class="type">Step-by-Step</span><br/>
      <h2>1.</h2>
      <h4>See if an app already exists for what you're trying to do.</h4>
      <p>Here is a collection of apps that are a part of our Zendesk Labs collection:</p>
      <a href="directory.html" class="dl_button dl_wide">Browse Our Directory.</a><br/>

      <p>If you are interested in any of the above plugins but unable to access the source code, please <a href="mailto:support@zendesk.com">contact</a> the Zendesk Services team for assistance. If you would like to create your own apps for Zendesk, <a href="http://developer.zendesk.com/documentation/apps/introduction.html" target="_blank">Go here for more information</a> on how to do so.</p> 
      <h2>2.</h2>
      <h4>Download and customize the app.</h4>
     <p>If the code is hosted on github, click on the "zip" button on its page to download it as a compressed (zip) file. When it downloads, open it to "expand" the file, and save it to somewhere accessible. On the github page, most apps have a "Readme" that explains what parts of the code you have to edit in order to make it work for you. Otherwise, look for comments in the code (lines preceeded by "//" and grayed out in a code editor) that tell you what must be changed. Make any changes necessary and save the app again.<p>
      <h2>3.</h2>
      <h4>Upload it into your Zendesk Account</h4>
      <p>Now, right click on the app folder that you just changed, and select "Compress" from the menu. This creates another zip, or compressed, file. Now go into Zendesk, click on Settings >> Apps >> Create, and click on "Create a new app." Give it a name and description, and then upload the zip file that you just created and hit "Save."</p>
    </div>
  <!-- START PUBLIC LOTUS SECTION -->
    <div id="publics" class="whitebox shadow explanation">
      <h1>Public Apps for New Zendesk</h1>
      <span class="type">Overview</span><br/>
      <p>These are apps that can already be found in the Zendesk App Store. That means, in the agent interface, you can find them by going to Settings >> Apps >>Browse, and they offer a great deal of functionality with which to extend your Zendesk.</p>
      <span class="type">Step-by-Step</span><br/>
      <h2>1.</h2>
      <h4>Find the app that suits your needs.</h4>
      <img src="assets/browseapps.png"/>
      <p>In the agent interface, navigate to Settings >> Apps >> Browse and you will see a list of all of the available apps that have been approved for the App Store. A lot of these are integrations, which means tools for pulling in or sending out information from other services that you might be using to complement your Zendesk.</p><p> Others are convenient extensions of Zendesk's functionality - this is where you'll find apps that display extra information in the sidebar next to a view of a ticket, such as user info, links, and other useful information. Hovering over each icon reveals a short description of what each one does.</p>
      <h2>2.</h2>
      <h4>Install and configure your app.</h4>
      <p>This is an especially simple process for public apps - all the hard work is already done for you! On hovering over the app you want, click on 'Install' and a settings page will usually pop up. Here you can enter in whatever details make the app right for you, and then click on "Install." That's it, you're done!</p>
    </div> 


<!------------- START CLASSIC SECTION ---------->
    <div id="classics" class="whitebox shadow explanation">
      <h1>Classic Widgets</h1>
      <span class="type">Overview</span><br/>
      <p>These are the old type of Zendesk apps; they are not used in the New Zendesk (Lotus). We call them widgets to distinguish them. They are still used in the end-user facing interface, which is going to remain on the Classic Zendesk framework until the release of Help Center.</p>
      <p>Whenever you would like to customize the user-facing web portal, you use a Classic Widget. They allow a great deal of customizability and are very easy to copy and paste from one place to another. In the agent interface, you create them by clicking on Settings >> Extensions >> Add Widget.</p>
      <span class="type">Step-by-Step</span><br/>
      <h2>1.</h2>
      <h4>Assess the needs of your Zendesk account</h4>
      <p>If you are aiming to make a change to the appearance or the functionality of the end-user interface, then widgets are the way to go. If your problem is a styling problem, you will want to inject <a href="http://reference.sitepoint.com/css/css">CSS</a> with a CSS widget. If you want to change the functionality of the page or add or change elements (text, logos, links, etc.), then you will use a JavaScript widget.</p>
      <h2>2.</h2>
      <h4>Select an app that suits your needs. These are some common examples:</h4>
      <a href="directory.html#classic" class="dl_button dl_wide">Browse Our Directory.</a><br/>

      <h2>3.</h2>
      <h4>Copy the code from the widget and paste it into the account.</h4>
      <img src="assets/extensions.png"/><p>Go to Settings >> Extensions in the agent interface and click on "Add Widget" on the right of the widget list. Choose a type of widget - all of the examples here are JavaScript widgets, so for them you will choose "Global JavaScript." Other common cases include "Global CSS" widgets for styling, and "Custom Widgets" for displaying text, images, buttons or links on the end user interface.</p>
      <p>A text area will open up, where you can paste in the code for your widget. Then, select the appropriate visibility from the drop-down ("anyone can see", "agents only" etc.) and then select "Create Widget" at the bottom and hit Save. That's really it! Now you may immediately see your changes live on the site.</p>

    </div> 




  </section>
</div>