<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <div id="basicsnav">
      <ul id="directionsType">
        <li class="shadow"><a {{action showPrivate}}>New Zendesk Private</a></li>
        <li class="shadow"><a {{action  showPublic}}>New Zendesk Public</a></li>
        <li class="shadow"><a {{action showClassic}}>Classic & Portal</a></li>
      </ul>
    </div>
    <div class="whitebox shadow explanation">
      {{outlet maintab}}
    </div>

  </section>
</div>