<img class="headerpic shadow" src = "assets/buddy1.png"}/>
<section id="main_content" class="inner">
  <div id="intro">
    <h1> Welcome to Zenlabs Beta.</h1>
    <p>
      There are a number of hand-crafted apps that have already been created to serve our customers.
      This documentation is intended to reveal some of the options available for those who wish to customize their Zendesk account, and the plug-ins described herein are to be understood to be of an 'experimental' nature. They are unofficial and to be used at your own risk.
    </p>
  </div>

  <div id="browse-button">{{#linkTo extensions}}Browse the apps.{{/linkTo}}</div>

</section>