<!-- START PRIVATE LOTUS SECTION -->

<h1>Private Apps for New Zendesk</h1>
<span class="type">Overview</span><br/>
<p>Private Apps for New Zendesk are apps that have been developed by our Client Services engineers, which have been tested and made available internally but have not gone through the app approval process that would put them into the Zendesk App Store. These are the "lab" offerings, unofficial and to be used at one's own risk.</p>
<span class="type">Step-by-Step</span><br/>
<h2>1.</h2>
<h4>See if an app already exists for what you're trying to do.</h4>
<p>Here is a collection of apps that are a part of our Zendesk Labs collection:</p>
{{#linkTo 'extensions'}}Browse Our Directory.{{/linkTo}}
<p>If you do not see an app that suits your needs and are interested in developing your own, <a href="http://developer.zendesk.com/documentation/apps/introduction.html" target="_blank">Go here for more information</a> on how to do so.</p> 
<h2>2.</h2>
<h4>Download and customize the app.</h4>
<p>Click on the "download" button on the lab page to download it as a compressed (zip) file. If the app does not require configuration, you can upload it as-is. Otherwise, when it downloads, open it to "expand" the file, open the expanded folder in a code or text editor to make your changes, then save it again. You would then right click on the app folder that you just changed, and select "Compress" from the menu. This creates another zip, or compressed, file.<p>
<h2>3.</h2>
<h4>Upload it into your Zendesk Account</h4>
<p>Now go into Zendesk, click on Settings >> Apps >> Create, and click on "Create a new app." Give it a name and description, and then upload the zip file that you just created and hit "Save."</p>
