<!-- START PRIVATE LOTUS SECTION -->

<h1>Private Apps for New Zendesk</h1>
<span class="type">Overview</span><br/>
<p>Private Apps for New Zendesk are apps that have been developed by our Client Services engineers, which have been tested and made available internally but have not gone through the app approval process that would put them into the Zendesk App Store. These are the "lab" offerings, unofficial and to be used at one's own risk.</p>
<span class="type">Step-by-Step</span><br/>
<h2>1.</h2>
<h4>See if an app already exists for what you're trying to do.</h4>
<p>Here is a collection of apps that are a part of our Zendesk Labs collection:</p>
<div class="dl_button dl_wide">{{#linkTo 'extensions'}}Browse Our Directory.{{/linkTo}}</div><br/>

<p>If you are interested in any of the above plugins but unable to access the source code, please <a href="mailto:support@zendesk.com">contact</a> the Zendesk Services team for assistance. If you would like to create your own apps for Zendesk, <a href="http://developer.zendesk.com/documentation/apps/introduction.html" target="_blank">Go here for more information</a> on how to do so.</p> 
<h2>2.</h2>
<h4>Download and customize the app.</h4>
<p>If the code is hosted on github, click on the "zip" button on its page to download it as a compressed (zip) file. When it downloads, open it to "expand" the file, and save it to somewhere accessible. On the github page, most apps have a "Readme" that explains what parts of the code you have to edit in order to make it work for you. Otherwise, look for comments in the code (lines preceeded by "//" and grayed out in a code editor) that tell you what must be changed. Make any changes necessary and save the app again.<p>
<h2>3.</h2>
<h4>Upload it into your Zendesk Account</h4>
<p>Now, right click on the app folder that you just changed, and select "Compress" from the menu. This creates another zip, or compressed, file. Now go into Zendesk, click on Settings >> Apps >> Create, and click on "Create a new app." Give it a name and description, and then upload the zip file that you just created and hit "Save."</p>
