<!-- START PUBLIC LOTUS SECTION -->
<h1>Public Apps for New Zendesk</h1>
<span class="type">Overview</span><br/>
<p>These are apps that can already be found in the Zendesk App Store. That means, in the agent interface, you can find them by going to Settings >> Apps >>Browse, and they offer a great deal of functionality with which to extend your Zendesk.</p>
<span class="type">Step-by-Step</span><br/>
<h2>1.</h2>
<h4>Find the app that suits your needs.</h4>
<img src="assets/browseapps.png"/>
<p>In the agent interface, navigate to Settings >> Apps >> Browse and you will see a list of all of the available apps that have been approved for the App Store. A lot of these are integrations, which means tools for pulling in or sending out information from other services that you might be using to complement your Zendesk.</p><p> Others are convenient extensions of Zendesk's functionality - this is where you'll find apps that display extra information in the sidebar next to a view of a ticket, such as user info, links, and other useful information. Hovering over each icon reveals a short description of what each one does.</p>
<h2>2.</h2>
<h4>Install and configure your app.</h4>
<p>This is an especially simple process for public apps - all the hard work is already done for you! On hovering over the app you want, click on 'Install' and a settings page will usually pop up. Here you can enter in whatever details make the app right for you, and then click on "Install." That's it, you're done!</p>