<ul id="filters">
	<li>
		<a {{action displayFilter}} data-filter="*" class="active">show all</a>
	</li>
	<li>
		<a  data-filter=".display"> display</a>
	</li>
	<li>
		<a  data-filter=".comments">comments</a>
	</li>
	<li>
		<a data-filter=".findingData">finding data</a>
	</li>
	<li>
		<a  data-filter=".ticketCreation">ticket creation</a>
	</li>
	<li>
		<a a data-filter=".endUser">end user</a>
	</li>
</ul>