<ul id="filters">
	<p><small>Filter by type:</small></p>

	<li>
		<a {{action displayFilter}} data-filter="*" class="active">All</a>
	</li>
	<li>
		<a  data-filter=".display">Display</a>
	</li>
	<li>
		<a  data-filter=".comments">Comments</a>
	</li>
	<li>
		<a data-filter=".findingData">Data Lookup</a>
	</li>
	<li>
		<a  data-filter=".ticketCreation">Ticket Creation</a>
	</li>
	<li>
		<a a data-filter=".endUser">End User</a>
	</li>
</ul>