<ul id="directionsType">
  <li><a data-tab="privateapps" {{action selectTab "privateapps"}} class="active">New Zendesk Private</a></li>
  <li><a data-tab="publicapps" {{action selectTab "publicapps"}}>New Zendesk Public</a></li>
  <li><a data-tab="classicapps" {{action selectTab "classicapps"}}>Classic & Portal</a></li>
</ul>