<div id="sliderlist">
  <h2>More Apps</h2>
  <div class="leftarrow"><span>prev</span></div>
  <div class="listmask">
    <div class="listspan">
      <ul id="widgetlist">
        {{#each model}}
        <li {{bindAttr class="category :item :whitebox :shadow"}}>
          <span class="appname">{{#linkTo 'extension' this}}{{name}}{{/linkTo}}</span>
        </li>
        {{/each}}
        <li class="item whitebox shadow">
          <span class="appname">{{#linkTo 'extensions'}}Back to Browsing{{/linkTo}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="rightarrow"><span>next</span></div>
</div>