#filters{
	padding: 0;
	list-style: none;
	float: left;
	width: 100px;
	height: 145px;
	border: 1px solid #EEE;
	border-radius: 4px;
	font-family: "DINNextLTPro-Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#filters li {
cursor: pointer;
width: 100%;
float: left;
background-color: #EAEAEA;
background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
background-image: linear-gradient(#FAFAFA, #EAEAEA);
}
#filters a {
display: block;
text-align: center;
line-height: 35px;
font-size: 12px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 #FFF;
border-right: 1px solid #EEE;
border-right-color: rgba(0, 0, 0, 0.04);
border-left: 1px solid #FCFCFC;
border-left-color: rgba(255, 255, 255, 0.7);
border-bottom: 2px solid #DADADA;
}
#filters a.active{border-bottom: 4px solid #80A41A;}
#appscontainer{float:left; margin-left: 20px; height: 800px;}
#widgetlist{width: 275px; padding: 0;}
#widgetlist a, .appname{ height: 100%; width: 100%; display: block;}
#widgetlist a:visited{color: black;}
#widgetlist, .isotope{overflow: visible !important;}
#widgetlist li{ height: 82px; width: 110px;}
#filterhead{font-family: 'DINNextLTPro-Light'; margin: 20px 0 0 0;}
#singleapp{margin-left: 400px;
max-width: 495px;
border: 1px solid #EEE;
background: #FFF;
padding: 10px 25px 20px;
margin-top: -20px;}