#header_wrap .inner {
  padding: 15px 10px 20px 10px;
}
#filters{
	padding: 0;
	list-style: none;
	float: left;
	width: 100px;
	height: 145px;
	border: 1px solid #EEE;
	border-radius: 4px;
	font-family: "DINNextLTPro-Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#filters li {
width: 100%;
float: left;
background-color: #EAEAEA;
background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
background-image: linear-gradient(#FAFAFA, #EAEAEA);
}
#filters a {
display: block;
text-align: center;
line-height: 35px;
font-size: 12px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 #FFF;
border-right: 1px solid #EEE;
border-right-color: rgba(0, 0, 0, 0.04);
border-left: 1px solid #FCFCFC;
border-left-color: rgba(255, 255, 255, 0.7);
border-bottom: 2px solid #DADADA;
}
#appscontainer{float:left; margin-left: 20px;}
#widgetlist{width: 120px; padding: 0;}
#widgetlist, .isotope{overflow: visible !important;}
#singleapp{margin-left: 400px; max-width: 495px;}