.isotope,
.isotope .isotope-item, #main {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope .isotope-item, #main {
  -webkit-transition-property: height, width, background;
     -moz-transition-property: height, width, background;
      -ms-transition-property: height, width, background;
       -o-transition-property: height, width, background;
          transition-property: height, width, background;
}

.isotope .isotope-item, #main {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
