#overlay{
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  opacity: 0.8;
  margin-top: -10px;
  display: none;
  z-index: 99;
}
.modal{
  width: 560px;
  min-height: 400px;
  top: 10%;
  left: 50%;
  z-index: 299;
  background-color: #FFF;
  position: fixed;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border: 1px solid #999;
  margin-left: -280px;
  color: #555;
  display: block;
  margin-bottom: 60px;
}
.modal-header {
padding: 9px 15px;
border-bottom: 1px solid #EEE;
}
.modal-header h3{
  font-size: 24px;
  line-height: 30px;
  font-family: "lucida grande";
  color: #555;
}
.modal-header .close {
float: right;
font-size: 20px;
font-weight: bold;
line-height: 22px;
color: #000;
text-shadow: 0 1px 0 #FFF;
opacity: 0.2;
filter: alpha(opacity=20);
margin-top: 2px;
padding: 0;
cursor: pointer;
background: rgba(0, 0, 0, 0);
border: 0;
-webkit-appearance: none;
font-family: "Lucida Sans Unicode","Lucida Grande",tahoma,Verdana,sans-serif;
}
.modal-body{
  position: relative;
  overflow-y: scroll;
  height: 300px;
  padding: 15px;
}
.modal-footer {
padding: 14px 15px 15px;
margin-bottom: 0;
text-align: right;
background-color: #F5F5F5;
border-top: 1px solid #DDD;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: inset 0 1px 0 #FFF;
-moz-box-shadow: inset 0 1px 0 #fff;
box-shadow: inset 0 1px 0 #FFF;
height: 36px;
}
.modal-footer .close, .btn{
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 22px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #333;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: #F5F5F5;
background-image: -moz-linear-gradient(top, #FFF, #E6E6E6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
background-image: -o-linear-gradient(top, #FFF, #E6E6E6);
background-image: linear-gradient(to bottom, #FFF,#E6E6E6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
border-color: #E6E6E6 #E6E6E6 #BFBFBF;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border: 1px solid #CCC;
border-bottom-color: #B3B3B3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
float: left;
margin-bottom: 15px;
font-family: 'lucida grande';
}
.btn-inverse {
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #565656;
background-image: -moz-linear-gradient(top, #6E6E6E, #333);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6E6E6E), to(#333));
background-image: -webkit-linear-gradient(top, #6E6E6E, #333);
background-image: -o-linear-gradient(top, #6E6E6E, #333);
background-image: linear-gradient(to bottom, #6E6E6E,#333);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6E6E6E', endColorstr='#FF333333', GradientType=0);
border-color: #333 #333 #0D0D0D;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.modal-footer .agree{
  float: right;
}