/*******************************************************************************
*******************************************************************************/

@import url(pygment_trac.css);
@font-face {
  font-family: 'DNLTM';
  src: url('DINNextLTPro-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINNextLTPro-Light";
  src: url("DINNextLTPro-Light.otf");
}
@font-face {
  font-family: "DINNextLTPro-Regular"; 
  src: url("DINNextLTPro-Regular.otf");
}
@font-face {
  font-family: "DINNextRoundedLTPro-Bold";
  src: url("DINNextRoundedLTPro-Bold.otf");
}



/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

body {
  margin: 0;
  background-color: #F0F0F0;
  background-image: url('/assets/bg.png');
  color: #000;
  line-height: 18px;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  line-height: 1.5;
  -webkit-font-smoothing: auto;  
}
html, body {
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#80A41A;
  text-shadow: 1px 1px 4px white;
}
p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}
ul {list-style: none; }

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 13px;
    list-style: square;
  }
}
a{text-decoration: none;}

.bold{font-weight: bold;}

